<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="home">{{usuario}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mis-rutas">Mis rutas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="crear-ruta">Crear ruta</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
      <div class="row">
          <div class="col">

            <h2>Mis rutas</h2>
           

            <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary" *ngFor="let ruta of rutas"  (click)="obtenerCoordenadas(ruta.id);rutaclick(ruta.id);">{{ruta.id}}</button>
               
            </div>

            <h2>Compartidas</h2>
            <div class="btn-group-vertical">
              <button type="button" class="btn btn-primary" *ngFor="let rutaCompartida of rutasCompartidas" (click)="obtenerCoordenadasCom(rutaCompartida.id);rutaclick(rutaCompartida.id);">{{rutaCompartida.id}}</button>
             
          </div>
          
          
          

            <div class="form-group" #formulario>
            <label for="input">Compartir con:</label>
                  <input type="text" class="form-control" placeholder="Usuario" #usuarioReceptor>
                  <small id="emailHelp" class="form-text text-muted">Ingresa correo</small>
                  <button type="button" class="btn btn-secondary" *ngIf="this.SinEmpezar" (click)="compartir(usuarioReceptor.value,getrutaclick('rutaclick'));usuarioReceptor.value='';" #btnEmpezar>EMPEZAR</button>
            </div>

          </div>
          <div class="col">
              <h1>MAPA</h1>

              <!-- this creates a google map on the page with the given lat/lng from -->
              <!-- the component as the initial center of the map: -->
              <agm-map [latitude]="lat" [longitude]="lng" [usePanning]="true">
                  <div *ngFor ="let puntos of markers">
                        
                      <agm-marker [latitude]="puntos.data.latitud" [longitude]="puntos.data.longitud" ></agm-marker>
                  
                </div>
              </agm-map>









        </div>
     </div>
    
</div>